.input_group2{
    width: 500px;
    height: 200px;
    border: 2px solid black;
    transform: translate(500px, 200px); 
     background-color: rgb(133, 243, 243);
    background: linear-gradient(rgb(133, 243, 243),white);
    padding: 20px 50px;
    border-radius: 10px;
}