
.usersignup{
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgb(186, 209, 213), black);
    
}
#form{
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    padding: 10px;
    margin: 30px 600px;
    background: linear-gradient(110deg, white, green);
}